:root{
    --dorado:#D4AF37;
    --azul:#0A1F44;
    --blanco:#ffffff;
    --gris:#f2f2f2;
}

/* ===== GENERAL ===== */
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--gris);
    font-size:14px;
}
.btn-logout{
    background-color: #D4AF37;
    color: #0A1F44;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-logout:hover{
    background-color: white;
    color: #0A1F44;
}
/* ===== HEADER ===== */
.header{
    background-color: var(--azul);
    color:var(--blanco);
    padding:20px;
    text-align:center;
    font-size:29px;   /* H1 */
    font-weight:bold;
    position: relative;
}

.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.logo img{
    mix-blend-mode: multiply;
    width: 75px;
    cursor: pointer;
    margin-top: 10px;
}

/* ===== LAYOUT ===== */
.contenedor{
    display:flex;
    min-height:90vh;
}

/* ===== SIDEBAR ===== */
.sidebar{
    width:250px;
    background-color: var(--blanco);
    padding:20px;
    border-right:5px solid var(--dorado);
}

.sidebar button{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    background-color: var(--azul);
    color:var(--blanco);
    border:none;
    cursor:pointer;
    border-radius:5px;
    font-size:14px;   /* Botones */
}

.sidebar button:hover{
    background-color: var(--dorado);
    color:var(--azul);
}

/* ===== CONTENIDO ===== */
.contenido{
    flex:1;
    padding:40px;
}

/* BIENVENIDO */
.bienvenida{
    display:flex;
    align-items:center;
    gap:40px;
    margin-bottom:40px;
}

.bienvenida img{
    width:150px;
    border:4px solid var(--dorado);
    border-radius:10px;
}

.info-usuario h2{
    margin:0;
    color:var(--azul);
    font-size:20px;   /* H2 */
}

.info-usuario p{
    font-size:14px;
}

/* TAREAS */
.tareas{
    background-color: var(--blanco);
    padding:20px;
    border-left:6px solid var(--azul);
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.tareas h3{
    margin-top:0;
    color:var(--azul);
    font-size:16px;   /* H3 */
}

.tareas ul{
    padding-left:20px;
}

.tareas li{
    margin-bottom:8px;
    font-size:14px;
}



/* RESPONSIVE */
@media(max-width:900px){
    .contenedor{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        border-right:none;
        border-bottom:5px solid var(--dorado);
    }

    .bienvenida{
        flex-direction:column;
        text-align:center;
    }
}