<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Bodeguero - Max & Flex</title>
    <link href="panelbodeguero.css" rel="stylesheet">
    
</head>
<body>

    <div class="header">
        BIENVENIDO
        <div class="logo">
            <img src="../imagenes/logo.png" alt="logo">
        </div>
        <button id="btnLogout" class="btn-logout" onclick="cerrarSesion()">
            Cerrar sesión
        </button>
    </div>
    </div>

    <div class="contenedor">

        <!-- SIDEBAR -->
        <div class="sidebar">
            <button onclick="window.location.href='../lista_verificacion/lista_verificacion.html'">Lista de Verificaciòn</button>
            <button onclick="window.location.href='../lista_proveedores/lista_proveedores.php'">Lista de Proveedores</button>
            <button onclick="window.location.href='../registromp/registromp.html'">Registrar Materia Prima</button>
            <button onclick="window.location.href='../generar_informe/generar_informe.php'">Generar Informe</button>
            <button onclick="window.location.href='../inventario_materiprima/inventario_materia_prima.html'">Inventario de Materia Prima</button>
            <button onclick="window.location.href='../inventario_productosterminados/inventario_productosterminados.html'">Inventario de Productos</button>

        </div>

        <!-- CONTENIDO -->
        <div class="contenido">

            <div class="bienvenida">
                <!-- Imagen usuario -->
                <img src="../imagenes/bodeguero.jpeg" alt="Usuario">

                <div class="info-usuario">
                    <h2><strong>Usuario:</strong> Nicolás Santiago Polo Moreno</h2>
                    <p><strong>Rol:</strong> Bodeguero </p>
                </div>
            </div>

            <div class="tareas">
                <h3>Tareas Pendientes</h3>
                <ul>
                    <li>Mover mercancía.</li>
                    <li>Recibir mercancía.</li>
                    <li>Organizar pedidos.</li>
                    <li>Organizar la bodega.</li>
                    <li>Control de inventario</li>
                    <li>Reportar novedades</li>
                </ul>
            </div>

        </div>
    </div>
<script src="https://cdn.botpress.cloud/webchat/v3.6/inject.js"></script>
<script src="https://files.bpcontent.cloud/2026/05/14/19/20260514194818-J71XBHCL.js" defer></script>
<script src="../../public/js/auth.js"></script>
<script src="../../public/js/app.js"></script>
</body>

</html>